{% extends 'SiteBundle:Default:base.html.twig' %}

{% block body %}

  <main>

    <section class="text-section">
      <div class="text-section__inner">
        <span class="breadcrumbs"><a href="{{ path('site_homepage') }}">Startseite</a> > <a href="{{ path('links') }}">Links</a></span>
        <h1>Links</h1>
        <img src="{{ asset('bundles/site/images/links.jpg') }}" alt="">
        <p>Auf dieser Seite haben wir für Sie einige interessante Links zusammengestellt. Neben Gesetzestexten finden
          Sie hier auch die Internetauftritte der regionalen Gerichte, der Kammern und unserer Kooperationspartner.</p>
        <p> Für den Inhalt der jeweiligen verlinkten Seite ist allein deren Betreiber verantwortlich. Auf den Inhalt
          dieser fremden Websites haben wir keinen Einfluss. Wir haben die Links vor der Aufnahme in diese Website
          geprüft. Dennoch können wir für den Inhalt und für nachträgliche Änderungen keine Gewährleistung
          übernehmen. </p>
      </div>
    </section>

    <section class="text-section">
      <div class="text-section__inner">
        <h1>Berufsverbände und Vereine</h1>
        <ul class="disc">
          <li><a href="http://www.brak.de/">Bundesrechtsanwaltskammer</a> - Die Seite der Bundesrechtsanwaltskammer mit
            allen Gesetzestexten rund um das Berufsrecht der Rechtsanwälte
          </li>
          <li><a href="http://anwaltverein.de/de/">Deutscher Anwaltverein</a> - Der Deutsche Anwaltverein mit
            umfangreichen Informationen rund um den Anwaltsberuf
          </li>
          <li><a href="http://www.rechtsanwaltskammer-hamm.de/">Rechtsanwaltskammer Hamm</a> - Die Seite der
            Rechtsanwaltskammer Hamm mit Hinweisen zum Berufsrecht, den Listen der Pflichtverteidiger und einem Link zum
            Anwaltsuchdienst
          </li>
          <li><a href="http://www.strafverteidigervereinigung-nrw.de/">Strafverteidigervereinigung NRW</a> - Die
            Vereinigung der Strafverteidger in Nordrhein-Westfalen. Mit Informationen über Veranstaltungen und den
            Strafveretidiger-Notdienst.Westfälische Notarkammer
          </li>
          <li>- Die Seite der Notarkammer für den Bereich Westfalen mit Informationen rund um den Beruf des Notars</li>
        </ul>
      </div>
    </section>

    <section class="text-section">
      <div class="text-section__inner">
        <h1>Die Gerichte</h1>
        <p>Wir haben Ihnen einige Links zu Gerichten in der unmittelbaren und mittelbaren Nachbarschaft
          zusammengestellt. Die Internetauftritte informieren jeweils über Adressen, die örtliche und sachliche
          Zuständigkeit, die richterliche Geschäftsverteilung, die amtlichen Bekanntmachungen, usw.</p>
        <ul class="disc">
          <li><a href="http://www.ag-bochum.nrw.de" target="_blank">AG Bochum</a></li>
          <li><a href="http://www.ag-herne.nrw.de" target="_blank">AG Herne</a></li>
          <li><a href="http://www.ag-witten.nrw.de" target="_blank">AG Witten</a></li>
          <li><a href="http://www.ag-hattingen.nrw.de" target="_blank">AG Hattingen</a></li>
          <li><a href="http://www.lg-bochum.nrw.de" target="_blank">LG Bochum</a></li>
          <li><a href="http://www.ag-essen.nrw.de" target="_blank">AG Essen</a></li>
          <li><a href="http://www.ag-essensteele.nrw.de" target="_blank">AG Essen-Steele</a></li>
          <li><a href="http://www.ag-gelsenkirchen.nrw.de" target="_blank">AG Gelsenkirchen</a></li>
          <li><a href="http://www.lg-essen.nrw.de" target="_blank">LG Essen</a></li>
          <li><a href="http://www.ag-dortmund.nrw.de" target="_blank">AG Dortmund</a></li>
          <li><a href="http://www.lg-dortmund.nrw.de" target="_blank">LG Dortmund</a></li>
          <li><a href="http://www.ag-muenster.nrw.de" target="_blank">AG M&uuml;nster</a></li>
          <li><a href="http://www.lg-muenster.nrw.de" target="_blank">LG M&uuml;nster</a></li>
          <li><a href="http://www.olg-hamm.nrw.de" target="_blank">OLG Hamm</a></li>
          <li><a href="http://www.olg-duesseldorf.nrw.de" target="_blank">OLG D&uuml;sseldorf</a></li>
          <li><a href="http://www.olg-koeln.nrw.de" target="_blank">OLG K&ouml;ln</a></li>
          <li><a href="http://www.bundesgerichtshof.de" target="_blank">Bundesgerichtshof</a></li>
          <li><a href="http://www.arbg-dortmund.nrw.de" target="_blank">Arbeitsgericht Dortmund</a></li>
          <li><a href="http://www.arbg-bochum.nrw.de" target="_blank">Arbeitsgericht Bochum</a></li>
          <li><a href="http://www.lag-hamm.de" target="_blank">Landsarbeitsgericht Hamm</a></li>
          <li><a href="http://www.bundesarbeitsgericht.de" target="_blank">Bundesarbeitsgericht</a></li>
          <li><a href="http://www.sg-dortmund.nrw.de" target="_blank">Sozialgericht Dortmund</a></li>
          <li><a href="http://lsg.nrw.de" target="_blank">Landesoszialgericht Essen</a></li>
          <li><a href="http://www.bundessozialgericht.de" target="_blank">Bundessozialgericht</a></li>
          <li><a href="http://www.vg-gelsenkirchen.nrw.de" target="_blank">Verwaltungsgericht Gelsenkirchen</a></li>
          <li><a href="http://www.ovg.nrw.de" target="_blank">OVG NRW</a></li>
          <li><a href="http://www.bundesverwaltungsgericht.de" target="_blank">Bundesverwaltungsgericht</a></li>
          <li><a href="http://www.bundesverfassungsgericht.de" target="_blank">Bundesverfassungsgericht</a></li>
        </ul>
      </div>
    </section>


    <section class="text-section">
      <div class="text-section__inner">
        <h1>Lokales aus Bochum</h1>
        <p>
          Da auch der Umgang mit Behörden zum Alltag eines Rechtsanwalts gehört, haben wir Ihnen nachfolgend die Links
          zu einigen regionalen Behörden, Ämtern, Betrieben und den städtischen Satzungen zusammengestellt.
        </p>

        <p><a href="http://www.polizei-nrw.de/bochum/Start/" target="_blank">Polizeipr&auml;sidium Bochum</a><br><a
              href="http://www.bochum.de/buergerbuero" target="_blank">B&uuml;rgerb&uuml;ro d. Stadt Bochum</a><br><a
              href="http://www.bochum.de/C125708500379A31/vwContentByKey/N26XQUJL412HGILDE" target="_blank">Rechtsamt d.
            Stadt Bochum</a><br><a href="http://www.bochum.de/C125708500379A31/vwContentByKey/W26YNHL7710BOLDDE"
                                   target="_blank">Rettungsdienste d. stadt Bochum</a><br><a
              href="http://www.bochum.de/C125708500379A31/vwContentByKey/W26YNLMX164BOLDDE" target="_blank">Sozialamt d.
            Stadt Bochum</a><br><a href="http://www.stadtwerke-bochum.de" target="_blank">Stadtwerke d. Stadt Bochum</a><br><a
              href="http://www.bochum.de/C125708500379A31/vwContentByKey/W26ZGDSS575BOLDDE" target="_blank">Standesamt
            d. Stadt Bochum</a><br><a href="http://www.bochum.de/C125708500379A31/vwContentByKey/W27X2BVC727BOLDDE"
                                      target="_blank">Stra&szlig;enverkehrsamt d. Stadt Bochum</a><br><br><a
              href="http://www.arbeitsagentur.de/nn_9766/Navigation/Dienststellen/RD-NRW/Bochum/Bochum-Nav.html"
              target="_blank">Bundesagentur f&uuml;r Arbeit</a><br><a href="http://www.jobcenter-bochum.de"
                                                                      target="_blank">Jobcenter Bochum</a> <br><br><a
              href="http://www.bochum.de/C125708500379A31/CurrentBaseLink/W26XXCNU820BOLDDE?open&MCL=6XAJSL381BOLD"
              target="_blank">St&auml;dtische Satzungen Bochum</a></p>
      </div>
    </section>


    <section class="text-section">
      <div class="text-section__inner">
        <h1>Kooperationspartner</h1>
        <p>
          Im Ruhrgebiet pendelt jeder zweite Arbeitnehmer zur Arbeit in eine andere Stadt und in der Freizeit wird das
          vielfältige Angebot an Sport, Unterhaltung, Kunst und Kultur über alle Stadtgrenzen hinaus ausgenutzt.
          Entsprechend verstreut können auch vielfältige Rechtsprobleme auftreten. Die Kanzlei Eisel und Karrmann
          unterhält daher gute Kontakte in unsere Nachbarstädte, damit wir auch über die Grenzen unserer Stadt hinaus
          beste Beratung und besten Service für Sie bieten können. Selbstverständlich gilt dies auch über die Grenzen
          des Ruhrgebiets hinaus.
        </p>

        <ul class="disc">
          <li>
            <a href="http://www.ra-holzky.de" target="_blank">Rechtsanw&auml;lte und Notar Georg Holzky, Dortmund</a>
          </li>
          <li>
            <a href="http://www.fetgenheuerlee.de" target="_blank">Rechtsanw&auml;lte Fetgenheuer &amp; Lee, Essen</a>
          </li>
          <li>
            <a href="http://www.kanzlei-rauer.de" target="_blank">Rechtsanwalt Lars Rauer, J&uuml;terbog-Berlin</a></li>
          <li>
            <a href="http://www.rechtsanwalt-bolk.de/index.html" target="_blank">Thomas Bolk-Karrmann, Essen</a></li>
        </ul>
      </div>
    </section>


    <section class="text-section">
      <div class="text-section__inner">
        <h1>Downloads</h1>
        <p>Nachfolgend können finden Sie die wichtigsten Formulare noch einmal zum Download. Die Dateien sind im
          PDF-Format gespeichert. Zum Öffnen benötigen Sie ein entsprechendes Programm (z.B. adobe acrobat-reader). Den
          Reader können Sie kostenlos
          <a href="https://get.adobe.com/reader/?loc=de">hier</a> herunterladen.
        </p>

        <p>
          <a target="_blank" href="{{ asset('bundles/site/downloads/vollmacht.pdf') }}">Vollmacht in Zivilsachen</a> [115 KB]
          <br><a target="_blank" href="{{ asset('bundles/site/downloads/vollmacht_strafsachen.pdf') }}">Vollmacht in Strafsachen</a> [84 KB]
          <br><a target="_blank" href="{{ asset('bundles/site/downloads/pkh_antrag.pdf') }}">Prozesskostenhilfe</a> [73 KB]
          <br><a target="_blank" href="{{ asset('bundles/site/downloads/vkh_antrag.pdf') }}">Verfahrenskostenhilfe</a> [329 KB]
          <br><a target="_blank" href="{{ asset('bundles/site/downloads/beratungshilfe.pdf') }}">Beratungshilfe</a> [51 KB]
          <br><a target="_blank" href="{{ asset('bundles/site/downloads/versicherung-an-eides-statt.pdf') }}">Versicherungs an Eides Statt</a> [13 KB]
          <br><a target="_blank" href="{{ asset('bundles/site/downloads/belehrung-versicherung-an-eides-statt.pdf') }}">Belehrung &uuml;ber die Versicherung an Eides Statt</a> [7 KB]
          <br><a target="_blank" href="{{ asset('bundles/site/downloads/beratung_und_pkh_flyer.pdf') }}">Infobrosch&uuml;re zur Beratungs- und Prozesskostenhilfe</a> [1.197 KB]
          <br><a target="_blank" href="{{ asset('bundles/site/downloads/versorgungsausgleich.pdf') }}">Fragebogen zum Versorgungsausgleich</a> [756 KB]
          <br><a target="_blank" href="{{ asset('bundles/site/downloads/versorgung_partnerschaft.pdf') }}">Versorgungsausgleich Lebenspartnerschaft</a> [973 KB]
          <br><a target="_blank" href="{{ asset('bundles/site/downloads/mandantenfragebogen_formular.pdf') }}">Mandantenfragebogen</a> [99 KB]
        </p>

      </div>
    </section>


  </main>

{% endblock %}
