
{% extends 'SiteBundle:Default:base.html.twig' %}

{% block body %}

  <main>

    <section class="text-section">
      <div class="text-section__inner">
        <span class="breadcrumbs"><a href="{{ path('site_homepage') }}">Startseite</a> > <a href="{{ path('notdienst') }}">Notdienst</a></span>
        <h1>24h-Notdienst</h1>
        <img src="{{ asset('bundles/site/images/24h.jpg') }}" alt="">
        <p>Unseren Notdienst in Strafsachen erreichen Sie außerhalb der Kanzleizeiten unter der Nummer:</p>
        <p><strong>0234-9136717*</strong></p>
        <p>Bitte beachten Sie, dass der Notdienst nur der Bearbeitung strafrechtlicher Notfälle dient. Sonstige telefonische Beratungsleistungen werden über den Notdienst nicht erbracht.</p>
        <p>Herr Rechtsanwalt Reimann wird Sie im Rahmen des Notdienstes beraten und auch vertreten, soweit dies erforderlich ist. Die Inanspruchnahme dieser Leistungen ist gebührenpflichtig. Soweit keine Vergütungsvereinbarung abgeschlossen werden kann, entstehen die
          <a href="{{ path('kosten') }}">Gebühren</a> nach dem RVG.</p>
        <p><small>* Für den Anruf können Telefongebühren ab 2,9 Cent die Minute aus dem Festnetz der Deutschen Telekom entstehen. Mobilfunktarife können erheblich abweichen.</small></p>
      </div>
    </section>

    <section class="text-section">
      <div class="text-section__inner">
        <h1>Warum ein Strafverteidiger-Notdienst?</h1>
        <p>Die Notwendigkeit eines Notdienstes und die Notwendigkeit der sofortigen Hinzuziehung eines Anwaltes, bei einer Verhaftung, Durchsuchung oder Vernehmung lässt sich mit folgenden Worten am einfachsten zusammenfassen:</p>

        <blockquote>
          "Die erste Vernehmung des Beschuldigten entscheidet über den Ausgang des Verfahrens" <br>
          <small>(Jerzy Montag, Rechtsanwalt und Mitglied des deutschen Bundestages"<small>
        </blockquote>

        <p>Die Bedeutung der ersten Ermittlungsmaßnahmen wird von den Betroffenen häufig unterschätzt, ein Anwalt oft aus Sorge über die
          <a href="{{ path('kosten') }}">Kosten</a> spät oder gar nicht informiert, dabei entscheiden die ersten Maßnahmen der Ermittlungsbehörden über das gesamte weitere Strafverfahren. Wer seine Verteidigung zu spät organisiert läuft Gefahr, diese erheblich zu erschweren.</p>
      </div>
    </section>


    <section class="text-section">
      <div class="text-section__inner">
        <h1>Verhalten im Notfall</h1>
        <p>Häufig wird ein Beschuldigter schon früh im Verfahren mit einer Zwangsmaßnahme überzogen. Es liegt dabei in der Natur der Sache, dass Zwangsmaßnahmen (z. B. Durchsuchung, Festnahme) für den Beschuldigten überraschend durchgeführt werden. Eine Zwangsmaßnahme ist oft sogar der erste Hinweis darauf, dass ein Ermittlungsverfahren eingeleitet wurde. Entsprechend ist eine mögliche Verteidigung hiergegen häufig nur schwer zu bewerkstelligen oder unmöglich. Eine garantierte Lösung und allumfassende Hinweise für den Umgang mit Zwangsmaßnahmen gibt es nicht. Allerdings gibt es neben der dringend zu empfehelnden Hinzuziehung eines Verteidigers einige Verhaltensmöglichkeiten, die den Umgang mit der Situation erleichtern und den Beschuldigten vor schwerwiegenden Konsequenzen bewahren können.</p>
      </div>
    </section>

    <section class="text-section">
      <div class="text-section__inner">
        <h1>Durchsuchung und Beschlagnahme</h1>
        <p>Regelmäßig kann eine unmittelbar bevorstehende oder bereits begonnene Durchsuchung nicht mehr vehindert werden. Auch eine eventuelle Rechtswidrigkeit der Durchsuchung ändert hieran nichts. Die Rechtswidrigkeit kann jedoch später zu Beweisverwertungsveboten führen.</p>
        <p>Lassen Sie sich den Grund der Durchsuchung, den gegen Sie erhobenen Tatvorwurf mitteilen und den Durchsuchungsbeschluss vorzeigen. In der Nachtzeit (1. April bis 30. September von 21 Uhr bis 4 Uhr und vom 1. Oktober bis 31. März von 21 Uhr bis 6 Uhr) sind Durchsuchungen nur bei Gefahr im Verzuge zulässig. Wird die Durchsuchung ohne Beschluss, wegen Gefahr im Verzuge durchgeführt, notieren Sie sich den hierfür angegebenen Grund. Durchsuchungsbeschlüsse dürfen nicht älter als 6 Monate sein. In diesen Fällen müssen Sie der Durchsuchung widersprechen</p>
        <p>Bleiben Sie während der Durchsuchung anwesend und bestehen Sie auf der Hinzuziehung von Zeugen.</p>
        <p>Informieren Sie einen Verteidiger über die Maßnahme. Der Verteidiger hat zwar keinen Anspruch auf Anwesenheit, sie kann ihm aber auch nur unter besonderen Bedingungen verweigert werden. Unser Notdienst steht Ihnen rund um die Uhr zur Verfügung.</p>
        <p>Eine Verpflichtung zur Mitwirkung an der Durchsuchung besteht nicht. Der Beschuldigte braucht nicht an seiner eigenen Verurteilung mitzuwirken. Besonders wichtig ist es daher, vom Schweigerecht gebrauch zu machen und auf jegliche Angaben gegenüber den Ermittlungsbeamten zu verzichten. Auch Zeugen müssen gegenüber den Beamten keine Angaben machen, insbesondere dann nicht, wenn Ihnen ein Zeugnisverweigerungsrecht zusteht.</p>
        <p>Zu bedenken ist allerdings, dass den Ermittlungsbeamten das Recht der Anwendung unmittelbaren Zwangs zusteht. Es kann daher - gerade bei der Durchsuchung von Geschäftsräumen - sinnvoll sein, bei der Durchsuchung mitzuwirken (Türen zu öffnen, Pssswörter bereitzustellen, etc.). In der Regel bietet es sich hierbei an, diese Handlungen von Ihrem Verteidiger durchführen zu lassen. Ist dieser zu Beginn der Durchsuchung anwesend, so sollte auch der organisatorische Ablauf besprochen werden, Störungen des Geschäftsbetriebes können so vermieden werden. Auch kann das Risiko der gezielten Suche nach Zufallsfunden und der Beeinträchtigung Dritter minimiert werden.</p>
        <p>Versuchen Sie nicht, Unterlagen beiseite zu schaffen oder zu vernichten. Dies kann den Haftgrund der Verdunklungsgefahr bedingen und zu einer Festnahme führen.</p>
        <p>Die Ermittlungsbeamten der Polizei dürfen nur auf ausdrückliche Anordnung der Staatsanwaltschaft Unterlagen durchsehen. Fehlt die Anordnung, so müssen alle Dokumente versiegelt mitgenommen werden.</p>
        <p>Bei der Beschlagnahme von Firmenunterlagen müssen Kopien hergestellt werden können, falls die Staatsanwaltschaft auf der Beschlagnahme der Originale besteht.</p>
        <p>Lassen Sie sich das Sicherstellungsprotokoll aushändigen und vergewissern Sie sich, dass alle Unterlagen und Gegenstände ordnungsgemäß aufgeführt sind. Wollen Sie Ihre Unterlagen später zurück erhalten, können Sie keine "Aktenordner in unbestimmter Anzahl" zurückverlangen. Auch kann entlastendes Beweismaterial verloren gehen, wenn dessen Beschlagnahme nicht dokumentiert wurde.</p>
      </div>
    </section>

    <section class="text-section">
      <div class="text-section__inner">
        <h1>Festnahme und Untersuchungshaft</h1>
        <p>Wird ein Beschuldigter aufgrund eines Haftbefehls ergriffen, ist er unverzüglich, spätestens am Tag nach der Ergreifung, dem Richter vorzuführen. Der Richter hat dem Beschuldigten den Tatvorwurf zu eröffnen und ihm Gelegenheit zu geben, die Haftgründe und Verdachtsmomente zu entkräften. Gelingt diese Entkräftung nicht, so wird die Untersuchungshaft angeordnet. Die Untersuchungshaft ist dabei die wohl einschneidenste Maßnahme, die gegen einen Beschuldigten im Strafverfahren verhängt werden kann. Zum einen gilt der Beschuldigte, auch bei dringendem Tatverdacht, immer noch als unschuldig, zum anderen besteht beinahe kaum eine Möglichkeit effektiver Verteidigung aus der Haft heraus.</p>
        <p>Im Falle der Inhaftierung sollte daher unter allen Umständen ein Verteidiger konsultiert werden. Die Kontaktaufnahme kann aus der Haft selbst erfolgen, allerdings können auch Verwandte und Bekannte einen Verteidiger für den Inhaftierten beauftragen. Es ist dabei aber notwendig, zumindest die wesentlichen Fakten (Name des Beschuldigten, Ort und Zeit der Verhaftung, Ort der Inhaftierung, zuständige Ermittlungsbehörde) zu kennen, damit eine Kontaktaufnahme zum Beschuldigten und den zuständigen Behörden möglich ist.</p>
        <p>Soweit die Untersuchungshaft angeordnet wurde, besteht ein Fall der <a href="{{ path('pflichtverteidigung') }}">Pflichtverteidigung</a>.</p>
      </div>
    </section>

    <section class="text-section">
      <div class="text-section__inner">
        <h1>Vorladung zur Vernehmung</h1>
        <p>Haben Sie eine Vorladung zu einer polizeilichen Beschuldigtenvernehmung erhalten, brauchen Sie dieser nicht Folge zu leisten. Sie sollten stattdessen einen Verteidiger aufsuchen. Über Ihren Verteidiger können Sie den Vernehmungstermin absagen und sich gegebenenfalls schriftlich zur Sache äußern. Wenn Sie den Termin wahrnehmen und sich zur Sache äußern, müssen Sie mit einer späteren Verwertung Ihrer Aussage zu Ihrem Nachteil rechnen. In vielen Strafverfahren müssen Sie auch davon ausgehen, dass Sie erkennungsdienstlich behandelt werden.</p>
        <p>Erhalten Sie eine Vorladung zu einer richterlichen oder staatsanwaltschaftlichen Vernehmung, so müssen Sie dieser nachkommen, wenn Sie eine zwangsweise Vorführung verhindern wollen.
          Ihr Schweigerecht und Recht zur Verteidigerkonsultation bleiben hiervon unberührt. Wenden Sie sich daher gerade auch in diesen Fällen unverzüglich an einen Anwalt.</p>
      </div>
    </section>



  </main>

{% endblock %}
