
{% extends 'SiteBundle:Default:base.html.twig' %}


{% block body %}

  <main>

    <div class="bg-image contained" style="background-image: url({{ asset('bundles/site/images/robe.jpg') }})">
      <div class="image-overlay">
        <h1>Anwälte</h1>
      </div>
    </div>


    <section class="intro">
      <div class="intro__inner">
        <span class="intro__breadcrumbs"><a href="{{ path('site_homepage') }}">Startseite</a> > <a href="{{ path('site_unsere_kanzlei') }}">Unsere Kanzlei</a> > <a href="{{ path('sekretariat') }}">Sekretariat</a></span>
        <h1>Die Rechtsanwälte</h1>
        <p>Jede Kanzlei ist nur so gut wie die zu ihr gehörenden Rechtsanwälte. Und häufig wird der Gang zum Rechtsanwalt gerade deshalb als unangenehm empfunden, weil man nicht weiß, wer sich hinter dem Schild an der Tür eigentlich verbirgt. Deshalb - aber auch, um Ihnen die fachliche Kompetenz unserer Rechtsanwälte näherzubringen - möchten wir Ihnen nun die für uns tätigen Juristen vorstellen:</p>
      </div>
    </section>

    <section class="staff">
      <ul>
        <li><a href="">Rechstanwalt und Notar Lutz Eisel</a><img src="{{ asset('bundles/site/images/lutz-eisel.jpg') }}" alt="lutz-eisel"></li>
        <li><a href="">Rechstanwältin Eva Karrmann</a><img src="{{ asset('bundles/site/images/eva-karrmann.jpg') }}" alt="eva-karrmann"></li>
        <li><a href="">Rechstanwalt Tobias Reimann</a><img src="{{ asset('bundles/site/images/tobias-reimann.jpg') }}" alt="tobias-reimann"></li>
      </ul>
    </section>




{% endblock %}
